@model Inventoryapp.Element

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Element</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wholesale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wholesale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Retail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Retail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Worktime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Worktime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAcquired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAcquired)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InventoryNumber" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
